/* body {
    background-color: #F9F7F7;
}

hr {
    border-style: solid;
    border-color: #3F72AF;
    border-width: 3px;
}

h1 {
    color: #3F72AF;
}

h3 {
    color: #3F72AF;
}

p {
    color: #112D4E;
}

ul li {
    color: #112D4E;
    list-style: none;

}

a {
    text-decoration: none;
    color: #112D4E;
}

a:hover {
    color:#3F72AF;
}

table tr td {
    color: #112D4E;
}

table tr td img {
    border-radius: 50%;
    border: 4px solid #3F72AF;
} */