body {
    background-color: #E5D9B6;
}

hr {
    border-style: dotted none none;
    border-color: #285430;
    width: 20%;
    border-width: 5px;
}

h1 {
    color: #285430;
}

h3 {
    color: #285430;
}

p {
    color: #5F8D4E;
}

ul li {
    color: #5F8D4E;
    list-style: none;

}

a {
    text-decoration: none;
    color: #5F8D4E;
}

a:hover {
    color:#285430;
}

table tr td {
    color: #5F8D4E;
}

table tr td img {
    border-radius: 50%;
    border: 2px solid #285430;
}

