body {
    background-color: #EEEEEE;
}

hr {
    border-style: dotted none none;
    border-color: #FD7014;
    width: 20%;
    border-width: 5px;
}

h1 {
    color: #FD7014;
}

h3 {
    color: #222831;
}

p {
    color: #393E46;
}

ul li {
    color: #5F8D4E;
    list-style: none;

}

a {
    text-decoration: none;
    color: #222831;
}

a:hover {
    color:#FD7014;
}

table thead tr th {
    color: #222831
}

table tr td {
    color: #393E46;
}

table tr td img {
    border-radius: 50%;
    border: 2px solid #393E46;
}

